#filters.clearfix
  .mapToggle.filter.linkbutton
    Map View
#results
  = content_tag 'div', id: 'mapContainer', data: { latitude: params[:lat], longitude: params[:long] } do
    #mapArea
  #list
    = render @homes
    = paginate @homes
