%footer
  .footer
    %a.iconLink{:href => "https://github.com/mathonsunday/welcomehome"}
      %img.icon.iconGitHub{:src => asset_path("clear.png"), :alt => "Welcome Home on github"}/
    %br/
    welcome home is open source.
    %a{:href => "https://github.com/mathonsunday/welcomehome"} code on github.
    %br/
    \&copy; copyleft 2014 welcome home.