%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
%title= content_for?(:title) ? yield(:title) : "Welcome Home"
%meta{:content => content_for?(:description) ? yield(:description) : "Welcome Home", :name => "description"}/
%meta{:content => "refugees, social services, homes", :name => "keywords"}/
%meta{:content => "RefugeRestrooms.org", :name => "author"}/
%script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"}
= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
= javascript_include_tag "application", "data-turbolinks-track" => true
= csrf_meta_tags
