%nav.nav.navbar-default.constraint{:role => "navigation"}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %a#logo.toiletLogo{:href => "/"}
    = link_to 'Welcome Home', root_path, class: 'navbar-brand'
    %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  / Collect the nav links, forms, and other content for toggling
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li= link_to "Submit a New Home", new_home_path
      %li= link_to 'About', about_path
      %li= link_to 'Contact', contact_path
  / /.navbar-collapse
